<ol id="recipe-<%= recipe.id %>" class="item">
  <div class="recipe">
    <div class="recipe-detail">
        <p class="recipe-title"><%= link_to  recipe.title , recipe_path(recipe) %></p>
        <p class="recipe-about"><%= recipe.about.truncate(213)  %></p>
        <% if recipe.image.attached? %>
          <%= link_to recipe_path(recipe) do %>
            <%= image_tag(recipe.display_image(250,200), class: "rounded")%>
          <% end %>
        <% else %>
         <img src="/assets/no-image.jpg" alt="no-image" width="250" height="200" class="rounded">
        <% end %>
        <!-- <%= link_to image_tag("favicon.png", alt: "logo", width: "40px"),root_path, class: "logo"  if recipe.image.attached? %> -->
        <p class="timestamp">Posted <%= time_ago_in_words(recipe.created_at) %> ago.</p>
        <p class="user"><%= link_to recipe.user.name, recipe.user %></p>

          <!--<div id = "like_form" class="d-flex justify-content-end align-middle mb-1">
            <div class=" d-inline-block mr-1">
              <% if logged_in? %>
                  <% if current_user.liking?(recipe)%>
                      <%= form_for(current_user.active_likes.find_by(liked_id: recipe.id),
                            html: {method: :delete}, remote: true) do |f| %>
                        <%= f.button type: "submit" do%>
                          <i class="fas fa-heart unlike-btn " ></i>
                        <% end %>
                      <% end %>
                    <% else %>
                      <%= form_for(current_user.active_likes.build, remote: true) do |f| %>
                        <div><%= hidden_field_tag :liked_id, recipe.id%></div>
                          <%= f.button type: "submit" do%>
                            <i class="far fa-heart like-btn" ></i>
                          <% end %>
                      <% end %>
                  <% end %>
                <% else %>
                  <i class="far fa-heart like-btn" ></i>
              <% end %>
            </div>

            <div class="likes_count d-inline-block align-middle">
              <% if recipe.likers.count > 0%>
                    <a class="align-middle "><%= recipe.likers.count %></a>
              <% else %>
                <p style="margin-right: 7px;"></p>
              <%end%>
            </div>
          </div>-->
          <div class="like_div">
            <div class="like_display">
              <%= render partial: 'shared/like_form', locals: {recipe: recipe}%>
              <div id="likers<%=recipe.id%>" class="d-inline-block likers_count" >
                <%= render partial: 'shared/likers_count', locals: {recipe: recipe}%>
              </div>
            </div>
          </div>

          <div class="recipe_fix">
            <% if current_user?(recipe.user) %>
                <p class="delete"><%= link_to "Delete", recipe, method: :delete,
                                              data: { confirm: "You sure?" } %></p>
                <p><%= link_to "Edit", edit_recipe_path(recipe) %></p>
              <% else %>
                <p style="margin-bottom: 13px;"></p>
            <% end %>
          </div>
    </div>
  </div>
</ol>
