<ol id="recipe-<%= recipe.id %>" class="item">
  <div class="recipe">
    <div class="recipe_item">
        <p class="recipe_title"><%= link_to  recipe.title , recipe_path(recipe) %></p>
        <p class="recipe_about"><%= recipe.about.truncate(213)  %></p>
        <% if recipe.image.attached? %>
          <%= link_to recipe_path(recipe) do %>
            <%= image_tag(recipe.display_image(250,200), class: "recipe_img")%>
          <% end %>
        <% else %>
        <!--<img src="/assets/no-image.jpg" alt="no-image" width="250" height="200" class="rounded">-->
         <%= image_tag 'no-image.jpg', :size => '250x200',:class=> 'recipe_img', :alt => 'no-image'  %>
        <% end %>
        <!-- <%= link_to image_tag("favicon.png", alt: "logo", width: "40px"),root_path, class: "logo"  if recipe.image.attached? %> -->
        <p class="recipe_timestamp">Posted <%= time_ago_in_words(recipe.created_at) %> ago.</p>
        <p class="user"><%= link_to recipe.user.name, recipe.user %></p>

          <div class="like_div">
            <div class="like_display">
              <%= render partial: 'shared/like_form', locals: {recipe: recipe}%>
              <div id="likers<%=recipe.id%>" class="d-inline-block likers_count" >
                <%= render partial: 'shared/likers_count', locals: {recipe: recipe}%>
              </div>
            </div>
          </div>

          <div class="recipe_fix">
            <% if current_user?(recipe.user) %>
                <p class="delete"><%= link_to "Delete", recipe, method: :delete,
                                              data: { confirm: "You sure?" } %></p>
                <p><%= link_to "Edit", edit_recipe_path(recipe) %></p>
              <% else %>
                <p style="margin-bottom: 13px;"></p>
            <% end %>
          </div>
    </div>
  </div>
</ol>
