<div class="row supplement">
  <div class="col-sm-8 float-left">
    <%= render 'category'%>
  </div>
  <div class="col-sm-4 recipe_show_like_div">
    <% if current_user?(recipe.user) %>
      <div class="edit_delete">
          <p class="delete_show"><%= link_to "Delete", recipe, method: :delete,
                                              data: { confirm: "You sure?" } %></p>
          <p class="edit_show"><%= link_to edit_recipe_path(recipe), class:"" do%>
            Edit
          <% end %></p>
      </div>
    <% end %>
    <div class="like_display">
      <%= render partial: 'shared/like_form', locals: {recipe: recipe}%>
      <%= render partial: 'shared/likers_count', locals: {recipe: recipe}%>
    </div>
  </div>
</div>
