<% provide(:title, @recipe.title)%>
<div class="wrapper recipe-show">
  <h1 class="title"><%= @recipe.title %> </h1>
      <%= render 'like_form'%>
  <% if current_user?(@recipe.user) %>
    <p><%= link_to "Edit", edit_recipe_path(@recipe) %></p>
  <% end %>

  <div class="row">
    <div class="col-md-6">
      <section class="information">
        <p class="about">About</p>
        <p class="about"><%= @recipe.about %></p>
        <%= image_tag @recipe.display_image(500, 400) if @recipe.image.attached? %>
        <p><%= link_to @recipe.user.name, @recipe.user %></p>
      </section>
    </div>
    <div class="col-md-6">
      <section class="information">
        <% unless @recipe.category_ids.empty? %>
          <p>Category</p>
          <span>
            <% @recipe.categories.each do |category| %>
            <%= link_to category.name, recipes_category_path(category) %>
            <% end %>
          </span>
        <% end %>
        <h2 class="ingre-title">Ingredients / 材料</h2>
        <% ingredients = @recipe.ingredients.all %>
        <% ingredients.each do |ingre| %>
          <ol class="ingredients">
            <p class="ingre"><%= ingre.ingre %></p>
            <p class="amount"><%= ingre.amount %></p>
            <br>
          </ol>
        <% end %>
      </section>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 instructions">
    <h2 class="ingre-title">Instruction / 作り方</h2>
    <% instructions = @recipe.instructions.all %>
    <% i = 1%>
    <% instructions.each do |inst| %>
      <ol class="instructions">
        <!-- <p><%= inst.no %></p> -->
        <p><%= i %>
        <p><%= inst.how_to %></p>
        <br>
        <% i += 1%>
      </ol>
    <% end %>
  </div>
</div>
</div>
