<% recipe ||= @recipe%>
<% provide(:title, @recipe.title)%>
<div class="wrapper recipe-show">
  <h1 class="title recipe_title_show">
  <%= @recipe.title %>
  </h1>
  <%= render 'supplement'%>
 
   <div class="row">
    <div class="col-md-6">
      <section class="information mt-2">
        <%# <p class="about">About</p> %>
        <% if @recipe.image.attached? %>
          <%= image_tag @recipe.display_image(540, 400), class: "img-fluid rounded" %>
        <% end %>
        <p class="about mt-2"><%= @recipe.about %></p>
        <div class="float-right mr-4">
        <p class="d-inline-block">Posted by</p>
        <p class="d-inline-block"><%= link_to @recipe.user.name, @recipe.user %></p>
        </div>
      </section>
    </div>
    <div class="col-md-6">
      <section class="information">
        <h2 class="ingre-title">Ingredients / 材料</h2>
        <% ingredients = @recipe.ingredients.all %>
        <% ingredients.each do |ingre| %>
          <ol class="ingredients">
            <p class="ingre"><%= ingre.ingre %></p>
            <p class="amount"><%= ingre.amount %></p>
            <br>
          </ol>
        <% end %>
      </section>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 instructions">
    <h2 class="ingre-title">Instruction / 作り方</h2>
    <% instructions = @recipe.instructions.all %>
    <% i = 1%>
    <% instructions.each do |inst| %>
      <ol class="instructions">
        <!-- <p><%= inst.no %></p> -->
        <p class="d-inline-block mr-2"><%= i %>.</p>
        <p class="d-inline-block"><%= inst.how_to %></p>
        <br>
        <% i += 1%>
      </ol>
    <% end %>
  </div>
</div>
</div>
