<% provide(:title, @user.name) %>
    <section class="user_info">
      <h1>
        <%= @user.name %>
      </h1>
    </section>
   <% if @user.recipes.any? %>
     <h3>Recipes (<%= @user.recipes.count %>)</h3>
     <div class="recipe-content wrapper">
          <p><%= link_to "Recent",   user_path(@user, option: "recent") %></p>
          <p><%= link_to "Popular",  user_path(@user, option: "popular") %></p>
         <div class="wrapper grid">
           <%= render @recipes %>
         </div>
         <%= will_paginate @recipes %>
        <% end %>
      </div>
