    <h1 class="recipe_title_show">Post Recipe / レシピの投稿</h1>
    <%= form_with model: @recipe,local: true do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
    <div class="row recipe_form__field">
      <div class="col-lg-5">
       <fieldset>
        <legend></legend>
          <%= f.label :title %>
          <%= f.text_field :title, class: 'form-control' %>

          <%= f.label :about, "About Recipe / コメント" %>
          <%= f.text_area  :about, class: 'form-control' %>

        <span class="image">
          <%= f.label :image, "Recipe Image / 料理画像" %>
          <%= f.file_field :image %>
        </span>

        <legend>Categories</legend>
          <%= f.collection_check_boxes(:category_ids, Category.all, :id, :name,  include_hidden: false ) do |category| %>
            <%= category.label class:"recipe_form__ctgry_checkbox" do %>
              <%= category.text %>
              <%= category.check_box %>
            <%end%>
          <% end %>
      </fieldset>
      </div>

      <div class="col-lg-5 offset-lg-2">
        <fieldset>
          <legend class="row">
            <%# <div class="row"> %>
              <div class="post-ingre col-7">ingredient/原材料</div>
              <div class="post-ingre col-5">amount/分量</div>
            <%# </div> %>
          </legend>
          <%= f.fields_for :ingredients do |ingredients_form| %>
            <%= render "shared/ingredient_fields", f: ingredients_form %>
          <% end %>
          <div class="add_ingre_btn">
            <%= link_to_add_fields "Add Ingredients / 原材料の追加", f, :ingredients %>
          </div>
        </fieldset>
        </div>

        <div class="col-12">
        <fieldset>
          <legend>
          <div class="row">
            <div class="col-1">No.</div>
            <div class="col-10">instruction / 作り方</div>
          </div>
          </legend>
          <% @order_number = 1 %>
            <%= f.fields_for :instructions do |instructions_form|%>
              <%= render "shared/instruction_fields", f: instructions_form %>
            <% end %>
            <div class="add_inst_btn">
              <%= link_to_add_fields "Add Instruction / 工程追加", f, :instructions %>
            </div>
        </fieldset>
              <%= f.submit yield(:button_text), class: "btn btn-dark col-4 offset-4 col-lg-2 col-lg-offset-5" %>
          <% end %>
        </div>
    </div>

        <script type="text/javascript">
          $("#recipe_image").bind("change", function() {
            var size_in_megabytes = this.files[0].size/1024/1024;
            if (size_in_megabytes > 5) {
              alert("Maximum file size is 5MB. Please choose a smaller file.");
              $("#recipe_image").val("");
            }
          });
        </script>
